<div class="menu-dashboard">
    <ul>
        {{#if isNewsList}}
            <li>
                <a href="/newsList" class="waves-effect waves-light btn">
                    News
            </a></li>
        {{else}}
            <li><a href="/newsList" class="waves-effect waves-light btn">News
            </a></li>
        {{/if}}

        {{#if isVacancy}}
            <li>
                <a href="/vacancyList" class="waves-effect waves-light btn">
                    Vacancies
                </a></li>
        {{else}}
            <li><a href="/vacancyList" class="waves-effect waves-light btn">Vacancies
            </a></li>
        {{/if}}

        {{#if isAbout}}
            <li>
                <a href="/aboutList" class="waves-effect waves-light btn">
                    About
                </a></li>
        {{else}}
            <li><a href="/aboutList" class="waves-effect waves-light btn">About
            </a></li>
        {{/if}}

<!--        {{#if Registration}}-->
<!--            <li>-->
<!--                <a href="/registration" class="waves-effect waves-light btn">-->
<!--                    Registration-->
<!--                </a></li>-->
<!--        {{else}}-->
<!--            <li><a href="/registration" class="waves-effect waves-light btn">Registration-->
<!--            </a></li>-->
<!--        {{/if}}-->

        {{#if SignIn}}
            <li>
                <a href="/signIn" class="waves-effect waves-light btn">
                    Sign In
                </a></li>
        {{else}}
            <li><a href="/signIn" class="waves-effect waves-light btn">Sign In
            </a></li>
        {{/if}}
    </ul>
</div>
