<nav class="yellow darken-2 header-color nav-head">
    <div class="nav-wrapper">
        <div class="logo-box">
            <img src="/svg/bus.svg" alt="Bus logo" class="logo">
            <a>CT</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isWorkers}}
                <li class="active"><a href="/workers">Workers Personal Data
                    <i class="material-icons right">contacts</i>
                </a></li>
            {{else}}
                <li><a href="/workers">Workers Personal Data
                    <i class="material-icons right">contacts</i>
                </a></li>
            {{/if}}

            {{#if isWorkersAcc}}
                <li class="active"><a href="/workersAcc">Workers Acc Data
                    <i class="material-icons right">assignment_ind</i>
                </a></li>
            {{else}}
                <li><a href="/workersAcc">Workers Acc Data
                    <i class="material-icons right">assignment_ind</i>
                </a></li>
            {{/if}}

            {{#if isBuses}}
                <li class="active"><a href="/buses">Buses
                    <i class="material-icons right">directions_bus</i>
                </a></li>
            {{else}}
                <li><a href="/buses">Buses
                    <i class="material-icons right">directions_bus</i>
                </a></li>
            {{/if}}

            {{#if isWaybills}}
                <li class="active"><a href="/waybills">Waybills
                    <i class="material-icons right">view_list</i>
                </a></li>
            {{else}}
                <li><a href="/waybills">Waybills
                    <i class="material-icons right">view_list</i>
                </a></li>
            {{/if}}

            {{#if isRouts}}
                <li class="active"><a href="/routs">Routs
                    <i class="material-icons right">rv_hookup</i>
                </a></li>
            {{else}}
                <li><a href="/routs">Routs
                    <i class="material-icons right">rv_hookup</i>
                </a></li>
            {{/if}}

            {{#if isRoutsList}}
                <li class="active"><a href="/routsList">Routs List
                    <i class="material-icons right">looks_one</i>
                </a></li>
            {{else}}
                <li><a href="/routsList">Routs List
                    <i class="material-icons right">looks_one</i>
                </a></li>
            {{/if}}

            {{#if isStations}}
                <li class="active"><a href="/stations">Stations
                    <i class="material-icons right">pin_drop</i>
                </a></li>
            {{else}}
                <li><a href="/stations">Stations
                    <i class="material-icons right">pin_drop</i>
                </a></li>
            {{/if}}


        </ul>
    </div>
</nav>
