<nav class="indigo lighten-5 header-color nav-head">
    <div class="nav-wrapper nav-menu">
        <div class="logo-box">
            <img src="/svg/bus.svg" alt="Bus logo" class="logo">
            <a href="/news">CT</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-menu">

            {{#if isWorkers}}
                <li class="active"><a href="/workers">Workers Personal Data
                    <i class="material-icons right">contacts</i>
                </a></li>
            {{else}}
                <li><a href="/workers">Workers Personal Data
                    <i class="material-icons right">contacts</i>
                </a></li>
            {{/if}}

            {{#if isWorkersAcc}}
                <li class="active"><a href="/workersAcc">Workers Acc Data
                    <i class="material-icons right">assignment_ind</i>
                </a></li>
            {{else}}
                <li><a href="/workersAcc">Workers Acc Data
                    <i class="material-icons right">assignment_ind</i>
                </a></li>
            {{/if}}

            {{#if isBuses}}
                <li class="active"><a href="/buses">Buses
                    <i class="material-icons right">directions_bus</i>
                </a></li>
            {{else}}
                <li><a href="/buses">Buses
                    <i class="material-icons right">directions_bus</i>
                </a></li>
            {{/if}}

            {{#if isWaybills}}
                <li class="active"><a href="/waybills">Waybills
                    <i class="material-icons right">view_list</i>
                </a></li>
            {{else}}
                <li><a href="/waybills">Waybills
                    <i class="material-icons right">view_list</i>
                </a></li>
            {{/if}}

            {{#if isRoutsList}}
                <li class="active"><a href="/routsList">Routs List
                    <i class="material-icons right">looks_one</i>
                </a></li>
            {{else}}
                <li><a href="/routsList">Routs List
                    <i class="material-icons right">looks_one</i>
                </a></li>
            {{/if}}

            {{#if isStations}}
                <li class="active"><a href="/stations">Stations
                    <i class="material-icons right">pin_drop</i>
                </a></li>
            {{else}}
                <li><a href="/stations">Stations
                    <i class="material-icons right">pin_drop</i>
                </a></li>
            {{/if}}

            {{#if isNews}}
                <li class="active"><a href="/news">News
                    <i class="material-icons right">view_day</i>
                </a></li>
            {{else}}
                <li><a href="/news">News
                    <i class="material-icons right">view_day</i>
                </a></li>
            {{/if}}

            {{#if isVacancy}}
                <li class="active"><a href="/vacancy">Vacancies
                    <i class="material-icons right">assignment</i>
                </a></li>
            {{else}}
                <li><a href="/vacancy">Vacancies
                    <i class="material-icons right">assignment</i>
                </a></li>
            {{/if}}

            {{#if isAbout}}
                <li class="active"><a href="/about">About
                    <i class="material-icons right">info</i>
                </a></li>
            {{else}}
                <li><a href="/about">About
                    <i class="material-icons right">info</i>
                </a></li>
            {{/if}}

            {{#if isUser}}
                <li class="active"><a href="/user">Users
                    <i class="material-icons right">group</i>
                </a></li>
            {{else}}
                <li><a href="/user">Users
                    <i class="material-icons right">group</i>
                </a></li>
            {{/if}}


        </ul>
    </div>
</nav>
