<form action="/about/create" method="post">
    <h3>Create Record</h3>
    <div class="inputs">
        <div class="input-field">
            <input type="text" name="title_about" class="validate" pattern="^[A-z]{1-3}$">
            <label>Title</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
    </div>

    <div class="inputs">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="content_about"></textarea>
            <label for="textarea1">Requirements</label>
            <span class="helper-text" data-error="" data-success="right"></span>
        </div>
    </div>
    <button type="submit" class="btn waves-effect waves-light" id="submitForm" disabled="disabled">Create
        <i class="material-icons right">add_box</i>
    </button>
</form>

<h3>About</h3>

{{#if about.length}}
    <div class="news-list-adm">
    <ul>
        {{#each about}}
                <li>
                    <h5>
                        {{title_about}}
                    </h5>
                    <p>
                        {{content_about}}
                    </p>
                    <a href="/about/delete/{{_id}}" class="btn waves-effect waves-light delete-btn">Delete</a>
                    <a href="/edit-about/{{_id}}" class="btn waves-effect waves-light delete-btn">Edit</a>
                </li>
        {{/each}}
    </ul>
    </div>
{{else}}
    <p>*table's empty</p>
{{/if}}
