<div class="station-field" id="select-example" hidden>
    <select class="example" name="stations[]">
        {{#if stations.length}}
            {{#each stations}}
                <option value="{{_id}}">{{stations}}</option>
            {{/each}}
        {{else}}
            <option disabled></option>
        {{/if}}
    </select>
    <label>Stations</label>
    <span class="helper-text" data-error="wrong" data-success="right"></span>
    <button class="delete btn waves-effect waves-light btn-icon">
        <i class="material-icons right">delete</i>
    </button>
</div>

<form action="/routsList/create" method="post">
    <h3>Create Record</h3>
    <div class="inputs">
        <div class="input-field">
            <input type="number" min="1" name="rout_number" class="validate" pattern="^[0-9]{3}$">
            <label>Rout №</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="number" min="1" name="rout_mileage" class="validate" pattern="^[0-9]{8}$">
            <label>Mileage (km)</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="number" min="1" name="trip_time" class="validate" pattern="^[0-9]{4}$">
            <label>Time (min)</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="number" min="1" name="planned_trips_number" class="validate" pattern="^[0-9]{3}$">
            <label>Trips Number</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
    </div>
    <div class="inputs">
        <div class="input-field col s12 container1">
            <div class="station-field">
                <select name="stations[]">
                    {{#if stations.length}}
                        {{#each stations}}
                            <option value="{{_id}}">{{stations}}</option>
                        {{/each}}
                    {{else}}
                        <option disabled></option>
                    {{/if}}
                </select>
                <label>Stations</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
        </div>
    </div>
    <button type="button" class="btn waves-effect waves-light btn-icon add-input">
        <i class="material-icons right">add_circle_outline</i>
    </button>


    <button type="submit" class="btn waves-effect waves-light" id="submitForm" disabled="disabled">Create
        <i class="material-icons right">add_box</i>
    </button>
</form>


<h3>Routs List</h3>

{{#if routsList.length}}
    <div class="routs-list-container">
        {{#each routsList}}

                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">{{rout_number}}</span>

                                {{#if stations.length}}
                                <ol>
                                    {{#each stations}}
                                        <li>{{stations}}</li>
                                    {{/each}}
                                </ol>
                                {{else}}
                                    empty
                                {{/if}}
                            <div class="">
                                <label>Mileage: </label>
                                <span>{{rout_mileage}}</span>
                                <label>Time: </label>
                                <span>{{trip_time}}</span>
                                <br>
                                <label>Trips Number: </label>
                                <span>{{planned_trips_number}}</span>
                            </div>

                        </div>
                        <div class="card-action">
                            <a href="/routsList/delete/{{_id}}" class="delete-btn">Delete</a>
                            <a href="/edit-routsList/{{_id}}">Edit</a>
                        </div>
                    </div>

        {{/each}}
    </div>
{{else}}
    <p>*table's empty</p>
{{/if}}
