<form action="/workers/create" method="post">
    <h3>Create Record</h3>
    <div class="inputs">
        <div class="input-field col s12">
            <select name="gender">
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
            </select>
            <label>Gender</label>
        </div>
        <div class="input-field">
            <input type="text" name="name">
            <label>Name</label>
        </div>
        <div class="input-field">
            <input type="text" name="surname">
            <label>Surname</label>
        </div>
        <div class="input-field">
            <input type="text" name="patronym">
            <label>Patronymic</label>
        </div>
    </div>

    <div class="inputs">
        <div class="input-field">
            <input type="number" name="reg_number">
            <label>Reg. №</label>
        </div>
        <div class="input-field">
            <input id="tel" type="tel" name="phone" class="validate" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
            <label>Phone</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" name="birthday">
            <label>Birthday</label>
        </div>
        <div class="input-field">
            <input type="text" name="address">
            <label>Address</label>
        </div>
    </div>
    <button type="submit" class="btn waves-effect waves-light">Create
        <i class="material-icons right">add_box</i>
    </button>
</form>


<h3>Workers Table</h3>
{{#if workers.length}}
    <table class="highlight">
        <thead class="thead-table">
        <tr>
            <th>Reg. №</th>
            <th>N.S.P.</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each workers}}

            <tr>
                <td>{{reg_number}}</td>
                <td>{{name}}</td>
                <td>{{gender}}</td>
                <td>{{address}}</td>
                <td>{{phone}}</td>
                <td>{{birthday}}</td>
                <td class="table_menu">
                    <a class='dropdown-trigger btn' href="#" data-target='dropdown{{_id}}'>
                        <i class="material-icons">menu</i>
                    </a>

                    <ul id='dropdown{{_id}}' class='dropdown-content'>
                        <li>
                            <a href="/workers/delete/{{_id}}" class="delete-btn">Delete</a>
                        </li>
                        <li>
                            <a href="/edit-workers/{{_id}}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>*table's empty</p>
{{/if}}
